.HeaderButton {
  padding: 0.3rem 0.6rem;
  background-color: transparent;
  border: 2px solid #000;
  outline: none;
  margin-left: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.HeaderButton:hover {
  opacity: 0.75;
}


.text {
  text-transform: uppercase;
}
