.Footer {
  width: 80vw;
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
  border-top: 2px solid #000;
  display: flex;
  justify-content: center;
}
