.ProductForm{

    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    

    
}

.DetailForm{
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
   
   
}
.Worning{
 color:red;
}