.ProductCard {
  border: 2px solid #000;
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.checkbox {
  position: absolute;
  top: 15px;
  left: 15px;
}

.text {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.text:last-child {
  margin-bottom: 0;
}
