.Switcher{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: .5rem;
    margin-bottom: .6rem;
}
.switcherCont{
    display: flex;
    flex-direction: column;
}